.container {
    display: grid;
    border: thin solid black;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 500px 160px 50px;
  } 

#results {
    grid-row: 1 / 3;
    width: 100%;
    
    
}
img {
    display: inline-block;
    object-fit: contain; 
    width: 200px;
    height: 300px;
}
#image1 {
    align-self: start;
 
}
#image2 {
    align-self: start;

}
#image3 {
    align-self: start;

}
#text {
    grid-row: 2/2;
    grid-column-start: 2;
    grid-column-end: 5;
    width: 100%;
    height: 100%;
    
}
#footer {
    
    align-content: center;
    grid-column: 1/5;
}